<div class="profile-container">
  <h2>{{ isDoctor ? 'Профиль врача' : 'Профиль пользователя' }}</h2>

  <form (ngSubmit)="saveProfile()">
    <!-- Общие поля -->
    <div class="form-group">
      <label>Email:</label>
      <input [(ngModel)]="email" name="email" type="email" class="form-control" required>
    </div>

    <div class="form-group">
      <label>Телефон:</label>
      <input [(ngModel)]="phoneNumber" name="phoneNumber" class="form-control" required>
    </div>

    <!-- Поля для пользователя -->
    <div *ngIf="!isDoctor" class="form-group">
      <label>Имя:</label>
      <input [(ngModel)]="firstName" name="firstName" class="form-control" required>
    </div>



    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div class="buttons-container">
      <button type="submit" class="btn btn-primary">Сохранить</button>
      <button type="button" (click)="goToHome()" class="btn btn-secondary">На главную</button>
    </div>
  </form>
</div>
