<div class="register-container">
  <h2>Регистрация</h2>

  <div class="form-group">
    <input [(ngModel)]="username" placeholder="Логин" class="form-input" />
  </div>

  <div class="form-group">
    <input [(ngModel)]="password" type="password" placeholder="Пароль" class="form-input" />
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div class="buttons-container">
    <button (click)="register()" class="submit-button">Зарегистрироваться</button>
    <button (click)="goToLogin()" class="login-button">Уже есть аккаунт? Войти</button>
  </div>
</div>
